input[type=text], select{
    width: 100%;
    padding: 15px 25px;
    margin: 8px 0x;
    display:inline-block;
    background-color: #71a6a6;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration:dashed;
  }
  input[type=submit]{
    width: 100%;
    padding: 15px 25px;
    margin: 8px 0x;
    background-color: #080a08;
    border: none;
    color: #f3f5f5;
    border-radius: 5px;
    cursor: pointer;       
  }
div{
    border-radius: 5px;
    background-color:beige;
    padding: 20px;
}
